html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.circle {
  float: left;
  width: 20%;
  margin: 1rem;
  margin-top: 4px;
  margin-right: 10rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 20%;
  margin-left: -30rem;
}

.banner-content {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  overflow: hidden;
  float: right;
  width: 30%;
}

h2 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  font-weight: bold;
  font-size: 3rem;
}

p {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 70%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

body {
  margin: 0;
}

.btn {
  margin: 30rem;
  overflow: hidden;
}

.btn-big {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  border-color: #000;
  border-radius: 3px;
  list-style-type: none;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}
